<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://52.68.71.211/assets/NCICDIIOS.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>bundle  ID</string>
				<key>bundle-version</key>
				<string>0.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>安装</string>
				<key>title</key>
				<string>确定下载安装</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
